body {
    width: 100%;
    height: 100vh;
    background-color: rgba(249, 242, 231, 0.1);
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 12px;
}
* {
    margin: 0;
    padding: 0;
}
.title {
    text-align: center;
    margin-top: 60px;
    color: rgba(0, 0, 255, 0.2);
}
.title h1 {
    font-size: 30px;
}
.container {
    top: 20px;
    position: relative;
    width: 420px;
    height: 420px;
    margin: 0 auto;
}
.game-board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.game-board div {
    box-sizing: border-box;
    width: 140px;
    height: 140px;
    flex: auto;
    border-left: 5px solid rgba(0, 0, 255, 0.2);
    border-bottom: 5px solid rgba(0, 0, 255, 0.2);
}
.game-board div:nth-child(1) {
    border-left: none;
}
.game-board div:nth-child(4) {
    border-left: none;
}
.game-board div:nth-child(7) {
    border-left: none;
    border-bottom: none;
}
.game-board div:nth-child(8),
.game-board div:nth-child(9) {
    border-bottom: none;
}
.cell:hover:before {
    line-height: 120px;
    text-align: center;
    content: attr(data-hover);
    font-size: 120px;
    color: #747474fa;
    display: block;
    opacity: 0.3;
}
.game-message {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(69, 133, 136, 0.4);
    text-align: center;
}
#restart {
    font-size: 25px;
    border-radius: 15px;
    color: rgba(0, 0, 255, 0.5);
    padding: 9px;
    background-color: seashell;
    box-shadow: 0px 2px 6px 3px rgba(0, 0, 255, 0.2);
}
#winner {
    font-family: sans-serif;
    color: yellow;
    text-shadow: 0 0 6px #ff0000;
    font-size: 40px;
    margin-top: 100px;
    animation-iteration-count:infinite; 
}
.X::before {
    line-height: 120px;
    text-align: center;
    content: 'X';
    font-size: 100px;
    color: #a2d2ff;
    display: block;
}
.O::before {
    line-height: 120px;
    text-align: center;
    content: 'O';
    font-size: 100px;
    color: #b5e48c;
    display: block;
}
.no-hover {
    pointer-events: none;
}
